# STM32Cube copied library and project folders
Drivers/*
MDK-ARM/*
EWARM/*
# CrossWorks project files
!*/*.hzp
!*/*.hzs

*.o
.mxproject
Debug/*
RemoteSystemsTempFiles/*

.metadata/*

*.settings

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Misc
*.map
*.m
*.png

# Eclipse CDT project files

.settings/

# Vagrant directory
.vagrant/

# Include makefiles
!Makefile
*~
